body {
    font-family: 'Roboto', sans-serif;
    background-color: #EDE7F6;
}

.wrapper {
    background-color: white;
}

#info {
    padding: 20px;
}

#info h1 {
    color: black;
    font-size: 24pt;
    margin-bottom: auto;
}

#info h2 {
    color: #4527A0;
    font-size: 18pt;
    margin-bottom: auto;
}

#contacts {
    background-color: #4527A0;
    padding-left:25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#contacts i {
    color: white;
}

#contacts i a {
    color: white;
    text-decoration: none;
}

#contacts i a:hover {
    color: white;
    text-decoration: underline;
}

#contacts i :first-child:before {
    content:"  "
}

#contacts i :first-child {
    font-weight: normal;
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
}

#main hr {
    margin-top: 20px;
    margin-bottom: 0px;
}

.section h2 {
    color: #4527A0;
    font-size: 20pt;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.entry {
    margin-left: 25px;
    margin-right: 10px;
}

.entry h3 {
    font-size: 16pt;
    margin-bottom: 10px;
}

.entry ul {
    list-style-type: none;
}

.date {
    background-color: #424242;
    color: white;
    margin-right: 5px;
    padding: 5px;
}

.tags {
    padding-left: 20px;
    padding-right: 20px;
}
.tags span {
    background-color: #E0E0E0;
    border-color: #424242;
    border-width: 3px;
    padding: 5px;
    border-radius: 5px;
}

#footer {
    text-align:center;
    align-items: center;
    background-color: #4527A0;
    color: white;
    padding-bottom: 0px;
}

#footer p {
    margin-bottom: 0px;
    font-size: 16px;
}

.progressbar {
    background-color: #BDBDBD;
    padding: 0.5px;
    max-width: 150px;
    font-size: 9px;
    width: 100px;
    display: inline-block;
  }
.progressbar > div {
    background-color: #4527A0;
    height: 10px;
    font-size: 12px;
  }
  #progressBarContainer span {
    display: inline-block;
}